.Button {
    padding: 13px 0;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border: 1px solid #ff474d;
    border-radius: 8px;
    background-color: #ff474d;
    box-shadow: 0 14px 30px -8px rgba(94,22,22,.47);
    cursor: pointer;
    transition: .6s;
}

.Button:hover {
    background-color: rgba(255,71,77,.2);
    color: #ff474d;
}

.NavBtn {
    padding: 0 1.2rem;
    height: 2.2rem;
    font-size: .7rem;
    text-align: center;
    color: #21272e;
    border: 1px solid rgba(144, 149, 153, .35);;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: .6s;
}

.NavBtn:hover {
    background-color: rgba(144, 149, 153, .25);
}