.Header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 10px;
    height: 79px;
    z-index: 5;
}

@media (min-width: 768px) {
    .Header {
        padding: 0 var(--big-screen-padding);
    }
}